img {
    width: 15%;

}

.card {
    width: 100px;
    border: 1px;
    margin: 0 auto;
    border-radius: 5px;

}
.card-image{
border-radius: 80;
}

.card-info {
    border-top: 10px;
    text-align: center;
}