img {
    width: 50%
;
}


.card {
    width: 300px;
    border: 1px solid;
    margin: 0 auto;
    border-radius: 10px;
    
}

.card-image {
    border-radius: 10px ;
    margin-left:  73px;
    
    margin-top: 50px;

}

.card-title {
     text-align: center;
     margin-bottom: 100px;
    
}
.card-title h3 {
    font-size: 20px; 

}
.card-title p {
    font-size: 14px;
}
.card-info {
    border-top: 1px solid grey;
    text-align: center;
    padding: 15px;
}
.videos {
    color: gray;
}
.hours {
    color: rgb(238, 0, 0); 
}
.price {
    color: rgb(65, 8, 208);
}